[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
typer = "*"

[packages]
flask = "*"
flask-cors = "*"
numpy = "==1.19.3"
pandas = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
